In [238]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 25)

In [239]:
df = pd.read_csv("./Billboard Hot 100 since 1958.csv")

In [240]:
df.columns

Index(['chart_position', 'chart_date', 'song', 'performer', 'song_id',
       'instance', 'time_on_chart', 'consecutive_weeks', 'previous_week',
       'peak_position', 'worst_position', 'chart_debut', 'chart_url'],
      dtype='object')

In [241]:
df.isnull().sum()

chart_position           0
chart_date               0
song                     0
performer                0
song_id                  0
instance                 0
time_on_chart            0
consecutive_weeks    33667
previous_week        33667
peak_position            0
worst_position           0
chart_debut              0
chart_url                0
dtype: int64

In [242]:
df.shape

(338395, 13)

In [243]:
df['chart_date'] = pd.to_datetime(df['chart_date'], format='%Y-%m-%d')
df.drop(['chart_position'], axis=1)
df.sort_values(['chart_date', 'chart_position'], ascending=[True, True], inplace=True)
df.reset_index(drop=True, inplace=True)
df.head(1000)['chart_date'].value_counts()

chart_date
1958-08-02    100
1958-08-09    100
1958-08-16    100
1958-08-23    100
1958-08-30    100
1958-09-06    100
1958-09-13    100
1958-09-20    100
1958-09-27    100
1958-10-04    100
Name: count, dtype: int64

In [244]:
# Check if every date is the same
df['chart_day'] = df['chart_date'].dt.dayofweek
df['chart_day'] = df['chart_day'].map({
    0: 'Monday',
    1: 'Tuesday',
    2: 'Wednesday',
    3: 'Thursday',
    4: 'Friday',
    5: 'Saturday',
    6: 'Sunday'
})
df = df[['chart_position', 'chart_date', 'chart_day', 'song', 'performer' 
       #'song_id', 'instance', 'time_on_chart', 
       #'consecutive_weeks', 'previous_week',
       #'peak_position', 'worst_position', 'chart_debut'
       , 'chart_url'
       ]]
df

,chart_position,chart_date,chart_day,song,performer,chart_url
0,1,1958-08-02,Saturday,Poor Little Fool,Ricky Nelson,https://www.billboard.com/charts/hot-100/1958-...
1,2,1958-08-02,Saturday,Patricia,Perez Prado And His Orchestra,https://www.billboard.com/charts/hot-100/1958-...
2,3,1958-08-02,Saturday,Splish Splash,Bobby Darin,https://www.billboard.com/charts/hot-100/1958-...
3,4,1958-08-02,Saturday,Hard Headed Woman,Elvis Presley With The Jordanaires,https://www.billboard.com/charts/hot-100/1958-...
4,5,1958-08-02,Saturday,When,Kalin Twins,https://www.billboard.com/charts/hot-100/1958-...
...,...,...,...,...,...,...
338390,96,2023-05-27,Saturday,Forever,Lil Baby Featuring Fridayy,https://www.billboard.com/charts/hot-100/2023-...
338391,97,2023-05-27,Saturday,Private Landing,Don Toliver Featuring Justin Bieber & Future,https://www.billboard.com/charts/hot-100/2023-...
338392,98,2023-05-27,Saturday,I Heard,YoungBoy Never Broke Again,https://www.billboard.com/charts/hot-100/2023-...
338393,99,2023-05-27,Saturday,Sunrise,Morgan Wallen,https://www.billboard.com/charts/hot-100/2023-...
338394,100,2023-05-27,Saturday,Happy,NF,https://www.billboard.com/charts/hot-100/2023-...

In [245]:
df['chart_day'].value_counts()

chart_day
Saturday    338395
Name: count, dtype: int64

100 % of the entries are reset on Saturday so I'm going to drop it to clean the DataFrame

In [246]:
df.drop('chart_day', axis=1, inplace=True)

In [247]:
df.head(100).song.value_counts()

song
Got A Match?                2
Early In The Morning        2
Over And Over               2
Poor Little Fool            1
High School Confidential    1
                           ..
Angel Baby                  1
Enchanted Island            1
Secretly                    1
Think It Over               1
Judy                        1
Name: count, Length: 97, dtype: int64

Here are some repetition, so I'm finding a way to understand it.

In [248]:
df.head(100).chart_position.value_counts()

chart_position
63     2
50     2
74     2
73     1
72     1
      ..
31     1
30     1
29     1
28     1
100    1
Name: count, Length: 97, dtype: int64

In [249]:
df.head(100)[df['chart_position'].isin([50, 74, 63])].sort_values(by='chart_position')

/var/folders/qk/t7psjtl510s8pvxmhbfn6v780000gn/T/ipykernel_16887/2881002666.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df.head(100)[df['chart_position'].isin([50, 74, 63])].sort_values(by='chart_position')

,chart_position,chart_date,song,performer,chart_url
49,50,1958-08-02,"Baubles, Bangles And Beads",The Kirby Stone Four,https://www.billboard.com/charts/hot-100/1958-...
50,50,1958-08-02,By The Light Of The Silvery Moon,Jimmy Bowen with the Rhythm Orchids,https://www.billboard.com/charts/hot-100/1958-...
62,63,1958-08-02,High School Confidential,Jerry Lee Lewis And His Pumping Piano,https://www.billboard.com/charts/hot-100/1958-...
63,63,1958-08-02,Padre,Toni Arden,https://www.billboard.com/charts/hot-100/1958-...
73,74,1958-08-02,Gotta Have Rain,Eydie Gorme,https://www.billboard.com/charts/hot-100/1958-...
74,74,1958-08-02,Win Your Love For Me,Sam Cooke,https://www.billboard.com/charts/hot-100/1958-...

In [250]:
# Rechecking the db with that on billboard website
df.at[22, 'chart_url']

'https://www.billboard.com/charts/hot-100/1958-08-02'

In [251]:
df[df['chart_date'] == '1958-08-02']

,chart_position,chart_date,song,performer,chart_url
0,1,1958-08-02,Poor Little Fool,Ricky Nelson,https://www.billboard.com/charts/hot-100/1958-...
1,2,1958-08-02,Patricia,Perez Prado And His Orchestra,https://www.billboard.com/charts/hot-100/1958-...
2,3,1958-08-02,Splish Splash,Bobby Darin,https://www.billboard.com/charts/hot-100/1958-...
3,4,1958-08-02,Hard Headed Woman,Elvis Presley With The Jordanaires,https://www.billboard.com/charts/hot-100/1958-...
4,5,1958-08-02,When,Kalin Twins,https://www.billboard.com/charts/hot-100/1958-...
...,...,...,...,...,...
95,96,1958-08-02,Over And Over,Thurston Harris,https://www.billboard.com/charts/hot-100/1958-...
96,97,1958-08-02,I Believe In You,Robert & Johnny,https://www.billboard.com/charts/hot-100/1958-...
97,98,1958-08-02,Little Serenade,The Ames Brothers,https://www.billboard.com/charts/hot-100/1958-...
98,99,1958-08-02,I'll Get By (As Long As I Have You),Billy Williams,https://www.billboard.com/charts/hot-100/1958-...
99,100,1958-08-02,Judy,Frankie Vaughan,https://www.billboard.com/charts/hot-100/1958-...

The df is identical to the website

Turns out, Billboard allows two songs to have the same position on a weekly chart.

![image.png](./images/img1.png)

Now, it's time to fix some weeks that have more/less than 100 entries

In [252]:
df.drop('chart_url', axis=1, inplace=True)
df.chart_date.value_counts().value_counts()

count
100    3377
99        5
200       1
Name: count, dtype: int64

In [253]:
df['chart_date'].value_counts()[df['chart_date'].value_counts() == 99]

chart_date
1991-11-16    99
1991-11-23    99
1991-11-30    99
1991-12-07    99
1991-12-14    99
Name: count, dtype: int64

In [254]:
missing_value_dates = ['1991-11-16', '1991-11-23', '1991-11-30', '1991-12-07', '1991-12-14']
df[df['chart_date'] == '1991-12-14']

,chart_position,chart_date,song,performer
174096,1,1991-12-14,Black Or White,Michael Jackson
174097,2,1991-12-14,It's So Hard To Say Goodbye To Yesterday,Boyz II Men
174098,3,1991-12-14,Set Adrift On Memory Bliss,P.M. Dawn
174099,4,1991-12-14,When A Man Loves A Woman,Michael Bolton
174100,5,1991-12-14,All 4 Love,Color Me Badd
...,...,...,...,...
174190,95,1991-12-14,Groovin',UB40
174191,96,1991-12-14,Lies,EMF
174192,97,1991-12-14,Monsters And Angels,Voice Of The Beehive
174193,99,1991-12-14,Walk Through Fire,Bad Company
174194,100,1991-12-14,Move Any Mountain,The Shamen

In [255]:
# Finding the missing position on the chart by comparing it to a range from 1..100

missing_pos = [i for i in [*range(1,100)] if i not in
            [*df[df['chart_date'] == '1991-11-16']['chart_position'].values]]
# Finding the index of the song that has the position on the chart right before the missing row to insert
previous_missing_pos = missing_pos[0] - 1
df[df['chart_date'].isin(missing_value_dates)][df['chart_position'] == previous_missing_pos]

/var/folders/qk/t7psjtl510s8pvxmhbfn6v780000gn/T/ipykernel_16887/3590533813.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['chart_date'].isin(missing_value_dates)][df['chart_position'] == previous_missing_pos]

        chart_position chart_date                     song        performer
173797              98 1991-11-16  Try A Little Tenderness  The Commitments
173895              98 1991-11-23                 Groovin'             UB40
173994              98 1991-11-30           True Companion        Marc Cohn
174093              98 1991-12-07  My Heart Belongs To You       Russ Irwin

In [256]:
# It seems like the first 4 dates in ['1991-11-16', '1991-11-23', '1991-11-30', '1991-12-07', '1991-12-14'] is missing 
# the entry at the same position except for the '1991-12-14'
missing_pos_last = [i for i in [*range(1,100)] if i not in
            [*df[df['chart_date'] == '1991-12-14']['chart_position'].values]]
previous_missing_pos_last = missing_pos_last[0] - 1
df[df['chart_date'] == '1991-12-14'][df['chart_position'] == previous_missing_pos_last]

/var/folders/qk/t7psjtl510s8pvxmhbfn6v780000gn/T/ipykernel_16887/3088717047.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df['chart_date'] == '1991-12-14'][df['chart_position'] == previous_missing_pos_last]

        chart_position chart_date                 song             performer
174192              97 1991-12-14  Monsters And Angels  Voice Of The Beehive

Adding missing values

In [257]:
from datetime import datetime
df.loc[173797.5] = [99,'1991-11-16','Into The Great Wide Open', 'Tom Petty And The Heartbreakers']
df.loc[173895.5] = [99,'1991-11-23','Ain\'t No Future In Yo\' Fronting', 'M.C. Breed & D.F.C.']
df.loc[174093.5] = [99,'1991-11-30','Stand By My Woman', 'Lenny Kravitz']
df.loc[173994.5] = [99,'1991-12-07','Do You Feel Like I Feel?', 'Belinda Carlisle']
df.loc[174192.5] = [98,'1991-12-14','Into The Great Wide Open', 'Tom Petty And The Heartbreakers']
df['chart_date'] = pd.to_datetime(df['chart_date'], format='%Y-%m-%d')
df = df.sort_index().reset_index(drop=True)

In [258]:
df[df['chart_date'] == '1991-11-16']

,chart_position,chart_date,song,performer
173700,1,1991-11-16,Cream,Prince And The N.P.G.
173701,2,1991-11-16,Can't Stop This Thing We Started,Bryan Adams
173702,3,1991-11-16,When A Man Loves A Woman,Michael Bolton
173703,4,1991-11-16,It's So Hard To Say Goodbye To Yesterday,Boyz II Men
173704,5,1991-11-16,Set Adrift On Memory Bliss,P.M. Dawn
...,...,...,...,...
173795,96,1991-11-16,Love Me All Up,Stacy Earl
173796,97,1991-11-16,Love. . .Thy Will Be Done,Martika
173797,98,1991-11-16,Try A Little Tenderness,The Commitments
173798,99,1991-11-16,Into The Great Wide Open,Tom Petty And The Heartbreakers
173799,100,1991-11-16,Forever More,Stevie B

In [259]:
df['chart_date'].value_counts()[df['chart_date'].value_counts() == 200]

chart_date
2023-01-07    200
Name: count, dtype: int64